<h1>Sign Up</h1>

<%= form_with url: signup_path, model: @user, local: true do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>
  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <div>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>
  <%= form.submit "Sign Up" %>
<% end %>

<% if flash[:alert] %>
  <p><%= flash[:alert] %></p>
<% end %>
